# FastAPI and related dependencies
fastapi
uvicorn[standard]

# Testing

pytest
pytest-dotenv
pytest-cov
faker
pytest-asyncio

# Database
sqlalchemy
alembic
pymysql
cryptography

python-dotenv
python-multipart


